<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <table border="3px">
        <thead>
            <tr>
                <th>NAME</th>
                <th>ROLLNO</th>
                <th>Email</th>
                <th>Branch</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {%for q in qs%}
            <tr>
                <td>{{q.name}}</td>
                <td>{{q.rollno}}</td>
                <td>{{q.email}}</td>
                <td>{{q.branch}}</td>
                <td><a href="">UPDATE</a>  <a href="{% url 'delete' q.id %}">DELETE</a></td>
                
            </tr>
            {%endfor%}

        </tbody>

    </table>
    <br>
    <br>
    <a href="">ADD NEW DATA</a>
    
</body>
</html>